# Node modules
node_modules

# Adonis directory for storing tmp files
tmp
.env

# Environment variables, never commit this file

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea
.editorconfig
.vscode

logs/*.log
